/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #fff;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: #fff;
    font-family: Poppins;
    background: #020202;
}
a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background: #ffca12 !important;
    box-shadow: none !important;
}
/*===================================
Header
====================================*/
header {
    height: 100svh;
}
.vid-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #000000de 0%, #020202 100%);
    z-index: 9;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 1em;
    align-items: center;
    position: relative;
}
.logo img {
    width: 81px;
}
nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    backdrop-filter: blur(7px);
    background-color: #00000066;
    border: 1px solid #ffffff36;
    border-radius: 100px;
    padding: 12px 25px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: Poppins;
    font-weight: 600;
    transition: .3s all ease-out;
}
nav ul li a:hover{
    color: #ffca12;
    transition: .3s all ease-out;
}
.logintools {
    display: flex;
    gap: 20px;
}
.logintools a {
    background: #ffca12;
    padding: 10px 25px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    transition: .3s all ease-out;
}
.logintools a:hover{
    background: #ffd74e;
    transition: .3s all ease-out;
}
.user-tag img {
    width: 40px;
}
.rightools {
    display: flex;
    gap: 30px;
    align-items: center;
}
.snipes img {
    width: 25px;
}
.snipes {
    background: #ffffff24;
    color: #fff;
    font-family: 'Rubik';
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 9px;
}
.user-tag {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}
.user-det {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #fff;
    font-family: 'Poppins';
}
.notifications {
    background: #ffffff1f;
    padding: 15px 17px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    transition: .3s all ease-out;
}
.notifications:hover{
    transition: .3s all ease-out;
    background: #ffffff52;
}
.user-tag i {
    color: #fff;
    font-size: 12px;
}
.snipes span {
    color: #fdd42e;
}
.solde {
    display: flex;
    gap: 5px;
    align-items: center;
}
.solde img {
    width: 17px;
}
.hero-content {
    text-align: center;
    padding-top: 10%;
}
.headings h2 {
    font-size: 90px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 700;
}
.headings h2 span, .subheadings h5 span {
    color: #ffca12;
}
.subheadings .fn{
    color: #2fd5ff;
}
.subheadings {
    margin-top: 1%;
    font-size: 45px;
    font-weight: 600;
}
.hero-btns {
    display: flex;
    margin: auto;
    margin-top: 3em;
    text-align: center;
    gap: 30px;
    width: fit-content;
}
.lm {
    padding: 10px 35px;
    border-radius: 40px;
    font-size: 19px;
    font-family: 'Poppins';
    border: 2px solid #fff;
    width: fit-content;
    margin: auto;
    font-weight: 500;
    transition: .3s all ease-out;
}
.lm:hover {
    transition: .3s all ease-out;
    background: #fff;
    color: #000;
}
.ds {
    display: flex;
    gap: 15px;
    background: #5865f2;
    width: fit-content;
    margin: auto;
    padding: 13px;
    border-radius: 5px;
    align-items: center;
    transition: .3s all ease-out;
}
.ds:hover {
    transition: .3s all ease-out;
    background: #3a43ab;
}
.ds i {
    font-size: 35px;
}
.ds span {
    text-align: left;
    font-weight: 600;
    line-height: 1.2;
}
.live span i {
    font-size: 10px;
    color: #f00;
}
.live span {
    font-size: 17px;
    display: flex;
    color: #f00;
    padding: 7px 20px;
    border: 2px solid #f00;
    border-radius: 40px;
    font-weight: 600;
    align-items: center;
    gap: 5px;
    width: fit-content;
    animation: taadaa 2s infinite;
}
@keyframes taadaa { 
    0% {
      opacity: 0.5;
    }
    
    50%{
      opacity: 1;
    }
  
    100% {
      opacity: 0.5;
    }
  }
.live {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1em;
}
.bottom-hero {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.explorebtn a span {
    -webkit-animation: 1s ease-in-out 0.1s infinite fadeIn;
    -moz-animation: 1s ease-in-out 0.1s infinite fadeIn;
    animation: 1s ease-in-out 0.1s infinite fadeIn;
    display: block;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2px;
}
.explorebtn a span:nth-of-type(2) {
    -webkit-animation: 1s ease-in-out 0.2s infinite fadeIn;
    -moz-animation: 1s ease-in-out 0.2s infinite fadeIn;
    animation: 1s ease-in-out 0.2s infinite fadeIn;
}
.explorebtn a span:nth-of-type(3) {
    -webkit-animation: 1s ease-in-out 0.3s infinite fadeIn;
    -moz-animation: 1s ease-in-out 0.3s infinite fadeIn;
    animation: 1s ease-in-out 0.3s infinite fadeIn;
}
/*======================================
Content
=======================================*/
.container {
    width: 90%;
    margin: auto;
}
.matches {
    padding-top: 0em;
    background: url(../img/streamsback.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 5em;
}
.single-page .matches {
    background: none;
}
.single-page .matches:before{
    background: none;
}
.matches:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000000ed;
}
.matchlist {
    width: 67%;
}
.leaderboard {
    width: 32%;
}
.matchrow {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sec-title span {
    background: #0a0a09;
    padding: 12px 20px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 40px;
    color: #ffca12;
    border: 1px solid #ff990021;
    display: flex;
    gap: 10px;
    font-size: 17px;
    font-weight: 500;
}
.sec-title span i {
    color: #ffca12;
}
.sec-title h2 {
    text-align: center;
    display: block;
    padding: 25px 0;
    font-size: 37px;
    font-family: Rethink Sans;
    font-weight: 600;
}
.sec-title p {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #94969d;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Rethink Sans';
}
.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.singlematch {
    width: 44%;
    background: #0c0c0c;
    padding: 20px;
    border-radius: 11px;
}
.singlematch h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.countdown {
    width: 35%;
    display: flex;
    align-items: center;
}
.matchcontent {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.single-det {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.matchdetails {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.joinmatch {
    display: block;
    background: linear-gradient(39deg, rgb(154 234 255) 19%, rgb(0 204 255) 51%);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 6px;
    color: #000;
    font-weight: 600;
    transition: .5s all ease-out;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rubik';
}
.joinmatch:hover {
    background: linear-gradient(39deg, rgb(104 219 249) 19%, rgb(113 227 255) 51%);
    transition: .5s all ease-out;
}
.single-det label {
    color: #8f8f8f;
    font-size: 15px;
    font-weight: 500;
}
.single-det span {
    font-weight: 600;
    font-size: 16px;
}
.bet span {
    color: #ffca12;
}
.base-timer {
    position: relative;
    width: 100%;
  }
  
  /* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */
  .base-timer__svg {
    transform: scaleX(1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.arc {
    color: #ffca12;
  }
  
  .timer-label {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Rubik';
    font-weight: 500;
    flex-direction: column;
    gap: 8px;
    transform: translateY(-50%);
    color: #d5d5d5;
}
.timer-label span {
    font-size: 19px;
    color: #fff;
}
.sec-title {
    margin-bottom: 30px;
    position: relative;
}
.single-leader {
    display: flex;
    justify-content: space-between;
    background: #0c0c0c;
    padding: 15px 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.leaderimg {
    width: 30px;
}
.lefty {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
.leader-det {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
span.top {
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 600;
    margin-right: 15px;
}
.leader-det span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.leader-det label {
    font-size: 15px;
    color: #b1b1b1;
}
.righty {
    display: flex;
    align-items: center;
}
span.earn {
    background: #0aaf0061;
    padding: 10px;
    border-radius: 5px;
    color: #0dff00;
    font-size: 15px;
}
.leaderloop {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nm{
    margin-bottom: 10px;
}
.user-tag:hover {
    background: #ffffff14;
    transition: .3s all ease-out;
}
.seemore:hover {
    background: #0cf;
    padding: 10px 25px;
    transition: .3s all ease-out;
}
.seemore:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: #00ccff;
    z-index: -1;
    transition: .5s all ease-out;
}
.seemore {
    text-align: center;
    display: block;
    margin: 25px auto;
    font-size: 20px;
    font-family: 'Rubik';
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    width: fit-content;
    /* margin: auto; */
    transition: .3s all ease-out;
}
.streams-block {
    display: flex;
    gap: 15px;
}
.left h2, .left p, .left span {
    text-align: left !important;
    margin: 0;
}
span.purple i {
    color: #7f58c9;
}
span.purple {
    color: #7f58c9;
    background: #754bc51f;
    border: 1px solid #7f58c952;
}
.stream-left {
    width: 25%;
}
.streamsloop {
    width: 74%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.single-stream img {
    width: 100%;
}
.streamsloop .slick-track {
    display: flex;
    gap: 20px;
}
.streamsloop .slick-list{
    overflow: visible;
    clip-path: inset( -100vw -100vw -100vw 0 );
}
section.streams {
    overflow: hidden;
}
.streams {
    overflow: hidden;
    padding: 10em 0;
}
.prev, .next {
    width: 45px;
    height: 45px;
    background: #7f58c9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.streamnav {
    display: flex;
    gap: 15px;
    position: relative;
}
.single-stream:before {
    content: "live";
    position: absolute;
    top: 15px;
    left: 15px;
    background: #f00;
    padding: 4px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    z-index: 99;
}
.single-stream, .streamimg{
    position: relative;
}
.streamer-img img {
    max-width: 50px;
    border-radius: 50%;
}
.stream-meta {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    align-items: center;
}
.streamer-info {
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.streamimg{
    cursor: pointer;
}
.streamimg:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000085;
}
.streamimg:after {
    content: "\f04b";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: FontAwesome;
    font-size: 50px;
    opacity: .6;
    transform: translate(-50%, -50%);
}
.streamer-info span {
    color: #afadad;
    font-size: 16px;
}
.single-stream h3 {
    font-size: 18px;
    font-family: 'Rethink Sans';
    font-weight: 600;
    line-height: 1.2;
}
.bar {
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}
.baritem {
    display: inline-block;
    will-change: transform;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
}
.baritem span {
    font-size: 50px;
    font-family: Rubik;
    padding: 0 10px;
    font-weight: 700;
    color: #fff;
}
.movingbar{
    overflow: hidden;
    padding: 1.5em 0;
}
.bar.second span {
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-weight: 700;
    font-family: poppins;
}
@keyframes marquee{
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100%);
    }
}
.discord-area {
    width: 60%;
    margin: auto;
    background: #0a0a0a;
    border-radius: 0 0 25px 25px;
}
.dscover {
    height: 240px;
    background: url(../img/dscover.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 25px 25px 0 0;
}
.dscover img {
    max-width: 150px;
    position: absolute;
    bottom: -50%;
    transform: translateY(-35%);
    left: 45px;
    border-radius: 26px;
    border: 5px solid #0a0a0a;
}
.dscover:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000d9 0%, #0a0a0ac4 100%);
    position: absolute;
}
section.discordsec {
    padding: 5em 0;
}
.dscontent {
    display: flex;
    justify-content: space-between;
    padding-left: 28%;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}
.single-stream {
    transition: .3s all ease-out;
    flex: 0 0 32%;
}
.single-stream:hover {
    transform: translateY(-10px);
    transition: .3s all ease-out;
}
.dscontent h2 {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
}
.dscontent i {
    font-size: 20px;
    color: #ffca12;
}
.dscontent a {
    background: #5865f2;
    padding: 10px 25px;
    border-radius: 6px;
    transition: .3s all ease-out;
}
.dscontent a:hover{
    background: #4550c1;
    transition: .3s all ease-out;
}
footer {
    background: #080808;
    position: relative;
    clip-path: polygon(0 12%, 100% 1%, 100% 100%, 0% 100%);
    padding-top: 5%;
}
section.footer-pre {
    position: relative;
    width: 100%;
    height: 20px;
}
.footer-sections {
    width: 90%;
    margin: auto;
    padding: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 4%;
}
.foot-sec {
    flex: 1 0 20%;
}
.foot-sec:first-child {
    flex: 1 0 30%;
}
h4.footsec-title {
    font-size: 23px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    width: fit-content;
    margin-bottom: 30px;
}
h4.footsec-title:before {
    content: "";
    height: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00ccff;
    position: absolute;
    z-index: -1;
}
h4.footsec-title.email{
    margin-top: 30px;
}
ul.email li a {
    color: #fdd42e;
}
.foot-sec ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.foot-sec ul li a {
    font-family: 'Rethink Sans';
    font-size: 17px;
}
.foot-sec ul li a:hover {
    color: #fdd42e;
    transition: .3s al ease-out;
}
.foot-sec ul li a:hover i{
    color: #fdd42e;
    transition: .3s al ease-out;
}
.foot-sec ul li a i {
    font-size: 15px;
    margin-left: 6px;
}
.foot-sec img {
    max-width: 100px;
    margin-bottom: 15px;
}
.foot-sec p {
    color: #d1c6c6;
    font-family: 'Rethink Sans';
    font-size: 17px;
    line-height: 1.5;
    width: 80%;
}
.copyright {
    background: #000;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
}
.left-copy p {
    font-family: 'Rethink Sans';
    color: #c1bebe;
}
.right-copy a{
    color: #fdd42e;
    font-weight: 600;
}
.footer__pre {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    top: 45px;
    transform: skewY(-2deg);
    background-color: #000;
    z-index: 2;
    border-top: 15px solid #060606;
}
.footer__pre:before {
    width: 300px;
    height: 15px;
    top: -30px;
    content: "";
    display: block;
    background-color: #ffca12;
    position: absolute;
}
.footer__pre:after {
    width: 170px;
    height: 30px;
    top: -30px;
    content: "";
    display: block;
    background-color: #00ccff;
    position: absolute;
    right: 0;
}
/*===================================
Matches
====================================*/
.single-page header{
    height: auto;
}
.single-page header nav{
    position: relative;
}
.single-page .sec-title {
    position: relative;
    margin-top: 60px;
    padding-bottom: 50px;
}
.single-page header {
    height: auto;
    background: url(../img/ingame.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.single-page header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000e6;
}
.single-page section.matches {
    padding-top: 3em;
    padding-bottom: 0;
}
.single-page .matchlist {
    width: 100%;
}
.single-page .matchlist {
    width: 75%;
    margin: auto;
    position: relative;
}
.matches-settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
.matches-filter {
    display: flex;
    gap: 15px;
    width: 80%;
    align-items: center;
}
.matches-filter h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
}
.create-match span {
    padding: 8px 25px;
    background: #ffca12;
    border-radius: 5px;
    color: #020202;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.selects-loop {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 85%;
}
.selects-loop select {
    background: #111 !important;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Rethink Sans';
    font-weight: 500;
    font-size: 15px;
    width: 40%;
}
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.left-page span {
    background: #080808;
    padding: 10px 25px;
    border-radius: 40px;
    color: #a3a3a3;
}
.right-page {
    display: flex;
    gap: 15px;
    align-items: center;
}
.prevp span{
    padding: 10px 15px;
    border-radius: 7px;
    background: #111;
    font-weight: 500;
    cursor: pointer;
}
.nextp span {
    background: #ffca12;
    color: #111;
    padding: 7px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
}
.page-nums {
    display: flex;
    gap: 10px;
}
.page-nums span {
    width: 25px;
    background: #080808;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    height: 25px;
    justify-content: center;
}
.page-nums span.active {
    background: #353535;
}
/*================================
Leaderboard
================================*/
.single-page .leaderboard {
    width: 60%;
    margin: auto;
}
.single-leader:first-child:before,.single-leader:nth-child(2):before, .single-leader:nth-child(3):before {
    content: "\f5a2";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: FontAwesome;
    font-size: 75px;
    color: #121212;
    z-index: 0;
}
.single-leader.gold {
    background: #ddc30a;
    transform: scale(1.15);
    margin-bottom: 15px;
}
.single-leader.gold:before{
    color: #c1ac10;
}
.single-leader.gold .leader-det span {
    color: #2b2b2b;
    font-weight: 700;
}
.single-leader.gold .leader-det label {
    color: #232323;
    font-weight: 500;
}
.single-leader.gold .earn {
    background: #a5920c;
    color: #ffea53;
}
.single-leader.gold .top{
    color: #000;
    font-size: 22px;
}
.single-leader.silver{
    background: #a3a3a3;
}
.single-leader.silver {
    transform: scale(1.1);
    margin-bottom: 10px;
}
.single-leader.silver .leader-det span {
    color: #2b2b2b;
    font-weight: 700;
}
.single-leader.silver .leader-det label {
    color: #232323;
    font-weight: 500;
}
.single-leader.silver:before{
    color: #8b8b8b;
}
.single-leader.silver .top{
    color: #000;
    font-size: 21px;
}
.single-leader.silver .earn {
    background: #63636361;
    color: #e9e9e9;
}
.single-leader.bronze {
    background: #bb6b1c;
    transform: scale(1.05);
    margin-bottom: 8px;
}
.single-leader.bronze .leader-det span {
    color: #2b2b2b;
    font-weight: 700;
}
.single-leader.bronze .leader-det label {
    color: #232323;
    font-weight: 500;
}
.single-leader.bronze .top{
    color: #000;
    font-size: 20px;
}
.single-leader.bronze:before{
    color: #99591a;
}
.single-leader.bronze .earn {
    background: #89521b;
    padding: 10px;
    border-radius: 5px;
    color: #ffa850;
    font-size: 15px;
}
.signup header {
    height: 90svh;
}
/*==============================
Match Details
===============================*/
.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 4em;
    position: relative;
}
h2.match-title {
    font-size: 60px;
    font-family: 'Rubik';
    font-weight: 600;
}
.entry img, .prize img {
    width: 20px;
}
span.opponentreadt i {
    color: #676767;
    margin-right: 7px;
}
.price-tools {
    display: flex;
    gap: 25px;
    align-items: center;
}
.entry {
    background: #ffca123d;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffca12;
}
.entry span{
    color: #ffca12;
}
.prize {
    background: #2db70042;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5bff25;
}
.prize span{
    color: #5bff25;
}
.entry span, .prize span {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.match-meta {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.single-match header{
        height: auto;
        background: url(../img/backpic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
}
.single-match header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(180deg, #000000c9 0%, #020202 100%);
}
.single-meta {
    display: flex;
    gap: 15px;
    background: #ffffff1c;
    padding: 10px 25px;
    border-radius: 5px;
    align-items: center;
}
.meta-icon i {
    font-size: 30px;
}
.meta-det {
    display: flex;
    gap: 7px;
    flex-direction: column;
}
.meta-det p {
    font-size: 16px;
    color: #afafaf;
}
.meta-det h3 {
    font-size: 16px;
    font-weight: 600;
}
.match-dash {
    display: flex;
    gap: 25px;
    width: 90%;
    margin: auto;
}
.match-players {
    width: 70%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.player-card {
    padding: 20px;
    background: #ffffff17;
    border-radius: 0px 0 20px 20px;
    display: flex;
    gap: 35px;
    position: relative;
    min-height: 154px;
    align-items: center;
    justify-content: center;
}
.player-avatar img {
    width: 110px;
    border-radius: 50%;
}
span.host {
    color: #ffca12;
    position: absolute;
    top: 15px;
    right: 20px;
    background: #ffca121f;
    padding: 5px 10px;
    border-radius: 5px;
}
.match-single-player {
    flex: 1 0 49%;
}
.host i{
    color: #ffca12;
}
.player-meta {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.player-meta h3 {
    font-size: 20px;
    font-weight: 700;
    color: #ffca12;
    font-family: 'Rubik';
}
.player-meta p {
    color: #c5c5c5;
    line-height: 1.4;
}
.player-meta p span {
    color: #fbc611;
    font-weight: 600;
    margin-right: 8px;
}
.player-meta p i {
    cursor: pointer;
}
span.votecancel {
    padding: 15px;
    display: block;
    margin-top: 15px;
    background: #ff6a6a30;
    border-radius: 6px;
    text-align: center;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 500;
    color: #ff7979;
    cursor: pointer;
}
span.opponentreadt {
    display: block;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 15px;
    background: #111;
    border-radius: 7px;
    color: #676767;
}
.match-control {
    width: 30%;
}
span.matchlive {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    background: #00ff2b1c;
    /* width: 100%; */
    font-size: 21px;
    border-radius: 10px;
    font-weight: 600;
    color: #62f53f80;
}
.single-match-area {
    padding-top: 15em;
    padding-bottom: 5em;
}
.progress {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .bar2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background: #292929;
    height: 3px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .bar__fill {
    display: block;
    background: #009df9;
    height: 100%;
  }
  
  .point {
    position: relative;
    color: #AC9585;
    cursor: pointer;
  }
  .point:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }
  .show-radius .point:before {
    background: rgba(0, 0, 0, 0.1);
  }
  .point--complete, .point--active {
    color: #BA7C3F;
  }
  
  .bullet {
    z-index: 1;
    position: relative;
    background: #626262;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    transition: 0.3s ease;
  }
  .point--complete .bullet, .point--active .bullet {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 6px #009df9;
  }
  .point--active .bullet {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 10px #009df9;
  }
  
  .label {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    transform: translate(-50%, 0);
    width: max-content;
}
  .match-status-bar {
    width: 70%;
    margin-top: 35px;
}
.point p {
    position: absolute;
    top: 35px;
    left: 50%;
    margin: 20px 0 0 0;
    font-size: 15px;
    font-weight: 500;
    transform: translate(-50%, 0);
    width: 150px;
    color: #999999;
    line-height: 1.4;
    text-align: center;
}
.match-tools {
    padding: 15px 25px 15px 25px;
    margin-top: 15px;
    background: #232323;
    border-radius: 12px;
}
a.joindis {
    background: #111;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Rubik';
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.match-tabs span {
    flex: 1 0 49%;
    text-align: center;
}

.match-tabs span {
    flex: 1 0 49%;
    text-align: center;
}
.match-tabs {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.match-tabs span {
    flex: 1 0 49%;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid #616161;
    padding-bottom: 9px;
    cursor: pointer;
    font-weight: 500;
}
.match-tabs span.active {
    color: #00ccff;
    border-color: #0cf;
}
.rules {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.single-rule label {
    color: #01c5f7;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Rubik';
    padding-bottom: 8px;
    display: block;
}
.single-rule p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4;
}
.chat-area {
    display: block;
    height: 275px;
    overflow: scroll;
    background: #000;
}
.chat {
    position: relative;
    display: none;
    flex-direction: column;
}
.chat-tools {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.chat-tools textarea {
    background: #111;
    border: 0;
    color: #fff;
    font-family: 'Poppins';
    outline: 0;
    padding: 9px;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}
.sendmsg {
    background: #0cf;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
}
.placeholder-content {
    height: 110px;
    overflow: hidden;
    background: #000;
    position: relative;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: placeholderAnimate;
    animation-name: placeholderAnimate;
    background: #f6f7f8;
    background: linear-gradient(to right, #232323 2%, #111 18%, #232323 33%);
    background-size: 1300px;
    width: 100%;
    left: -15px;
    top: -8px;
}
  .placeholder-content_item {
    width: 100%;
    height: 20px;
    position: absolute;
    background: #191919;
    z-index: 2;
  }
  .placeholder-content_item:after, .placeholder-content_item:before {
    width: inherit;
    height: inherit;
    content: "";
    position: absolute;
  }
  .placeholder-content_item:nth-child(1) {
    top: 0;
    left: 0;
  }
  .placeholder-content_item:nth-child(2) {
    top: 20px;
    left: 0;
    width: 10%;
    height: 90px;
  }
  .placeholder-content_item:nth-child(3) {
    top: 0px;
    left: 0;
    width: 10%;
    height: 100%;
  }
  .placeholder-content_item:nth-child(4) {
    top: 20px;
    width: 20px;
    left: 170px;
    height: 90px;
  }
  .placeholder-content_item:nth-child(5) {
    top: 40px;
    left: 190px;
    height: 12px;
  }
  .placeholder-content_item:nth-child(6) {
    top: 75px;
    left: 190px;
    height: 12px;
  }
  
  @-webkit-keyframes placeholderAnimate {
    0% {
      background-position: -650px 0;
    }
    100% {
      background-position: 650px 0;
    }
  }
  
  @keyframes placeholderAnimate {
    0% {
      background-position: -650px 0;
    }
    100% {
      background-position: 650px 0;
    }
}
.timer-area {
    padding: 25px;
    border: 1px solid #ffffff40;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}
.timer-area i {
    font-size: 45px;
}
.timer-area h5 {
    font-size: 17px;
    color: #b7b7b7;
    font-weight: 500;
    line-height: 1.3;
}
.timer-area h5 span {
    font-size: 30px;
    font-weight: 600;
}
.team-pin {
    background: #0e0e0e;
    padding: 15px 25px;
    border-radius: 20px 20px 0px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.teamname {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 4px solid #0cf;
    padding-left: 9px;
}
.teamname h6 {
    font-size: 14px;
}
.teamname span {
    font-weight: 600;
    text-transform: uppercase;
}
span.shareresults {
    display: block;
    padding: 15px;
    text-align: center;
    background: #0098f1;
    border-radius: 5px;
    cursor: pointer;
}
.match-res {
    padding: 8px 15px;
    background: #00ff0a;
    border-radius: 5px;
    font-weight: 500;
    color: #14b329;
    text-transform: uppercase;
    font-size: 14px;
}
.match-res.defeat {
    color: #ffb4b4;
    background: #fb2525;
}
/*======================================
Modals 
======================================*/
.modal-match {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .3s all ease-out;
    visibility: hidden;
    opacity: 0;
}
.modal-match.active{
    opacity: 1;
    visibility: visible;
    transition: .3s all ease-out;
}
.backlayer {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000a6;
    width: 100%;
    height: 100%;
}
.create-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    background: #0a0a0a;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
}
.create-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 15px;
    background: url(../img/backpic.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.create-header img {
    max-width: 200px;
    z-index: 1;
}
.create-header:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0a0a0ad6 0%, #0a0a0a 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.create-content {
    padding: 20px 0;
    margin-top: -1px;
    z-index: 9;
    position: relative;
    background: #0b0b0b;
}
.create-header h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
    z-index: 1;
    color: #ffca12;
}
.create-content {
    padding: 20px 0;
}
.create-header p {
    font-size: 16px;
    color: #a3a7ab;
    z-index: 1;
}
.create-content form {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.form-row .form-group {
    flex: 1 0 47%;
}
.form-row .form-group {
    flex: 1 0 49%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.form-row {
    display: flex;
    gap: 10px;
}
.d-flex {
    display: flex;
    flex-direction: row !important;
    gap: 6px !important;
    align-items: center !important;
    justify-content: center;
}
.form-group select {
    background: #111;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}
.form-group label {
    font-size: 15px;
}
.mb-5{
    margin-bottom: 15px;
}
.single-amount {
    flex: 1 0;
    text-align: center;
    background: #211f1f;
    padding: 25px 0;
    border-radius: 7px;
    cursor: pointer;
}
.entryamounts {
    display: flex;
    gap: 15px;
    padding: 10px 0px;
}
#entryprice {
    width: -webkit-fill-available;
    background: #040404;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #5f5f5f;
    border-radius: 40px;
    color: #fff;
    font-family: 'Rubik';
}
button.create-match {
    background: #ffca12;
    color: #0b0b0b;
    border-radius: 40px;
    padding: 11px;
    border: 0;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Rubik';
    cursor: pointer;
}
.single-amount.active {
    background: #ffca12;
    color: #000;
    font-weight: 600;
}
.closemodal {
    color: #ffffff;
    position: absolute;
    z-index: 9;
    top: 25px;
    right: 25px;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
/*==============================
Account settings
==============================*/
ul.dropuser {
    position: absolute;
    flex-direction: column;
    background: #fff;
    color: #000 !important;
    border-radius: 10px;
    backdrop-filter: none !important;
    bottom: -6.6em;
    gap: 10px;
    padding: 10px;
    width: 11em;
    visibility: hidden;
    opacity: 0;
}
.dropuser.active{
    opacity: 1;
    visibility: visible;
    transition: .3s all ease-out;
}
ul.dropuser li a {
    color: #000;
    padding: 9px 25px;
    display: block;
    font-weight: 500;
    font-size: 16px;
}
ul.dropuser li a:hover {
    background: #eee;
    color: #000;
}
.profile-details {
    position: relative;
}
.profile-details {
    position: relative;
    width: 65%;
    margin: auto;
    padding-top: 5em;
    display: flex;
    gap: 35px;
    align-items: center;
}
.profile-img img {
    max-width: 250px;
    border-radius: 50%;
}
.profile-det h2 {
    font-size: 35px;
    font-family: 'Rethink Sans';
    font-weight: 700;
}
.profile-det h5 {
    padding: 20px 0;
    color: #b9b8b8;
    font-size: 17px;
    FONT-WEIGHT: 500;
}
.player-stats {
    display: flex;
    gap: 20px;
}
.player-stats h6 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.player-stats h6:first-child span{
    color: #37ff15;
}
.player-stats h6:nth-child(2) span{
    color: #f00;
}
.player-stats h6:nth-child(3) span{
    color: #ffca12;
}
.player-stats h6:last-child span{
    color: #09fdff;
}
.player-actions {
    display: flex;
    gap: 20px;
    padding: 25px 0;
}
.player-actions span {
    background: #f9f6f61f;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 10px;
    transition: .3s all ease-out;
}
.player-actions span:hover {
    transition: .3s all ease-out;
    background: #ffffff38;
}
.my-account-area {
    padding: 5em 0;
    width: 70%;
    margin: auto;
}
.main-tabs span {
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 15px;
    cursor: pointer;
}
.main-tabs span.active{
    color: #ffca12;    
    border-bottom: 3px solid #ffca12;
}
.main-tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #eeee;
}
.main-content {
    margin-top: 30px;
}
.mini-title h3 {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    gap: 15px;
}
.mini-title {
    display: flex;
    justify-content: space-between;
}
.mini-title h3 i {
    color: #ffca12;
}
.create-team {
    background: #ffca12;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 40px;
    padding: 10px 23px;
    cursor: pointer;
    transition: .3s all ease-out;
}
.create-team:hover {
    background: #f9d65e;
}
.socials {
    display: flex;
    gap: 20px;
}
.sec-content {
    margin-top: 2em;
}
.single-social h3 {
    font-size: 21px;
    font-weight: 600;
    display: flex;
    gap: 15px;
    align-items: center;
}
.single-social {
    flex: 1 0;
    background: #0a0a0a;
    padding: 33px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.socials {
    display: flex;
    gap: 20px;
}
.single-social .votecancel{
    margin: 0;
    width: 100%;
}
.single-social .linked {
    font-size: 17px;
    color: #b1b1b1;
}
.single-social img {
    max-width: 30px;
}
span.linkaccount {
    background: #9bffa721;
    padding: 14px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    color: #19ff00;
    font-weight: 600;
    cursor: pointer;
}
#socials, #matches, #deposits, #withdrawls{
    display: none;
}
.swal2-popup.swal2-toast{
    box-shadow: none!important;
}
.swal2-title{
    text-align: left;
}
.swal2-popup.swal2-toast {
    box-shadow: none !important;
    display: flex !important;
    gap: 5px;
    justify-content: center;
    width: 19em !important;
    flex-direction: row;
    align-items: center;
}
.mt-1{
    margin-top: 10px;
}
.viewopponent {
    text-align: center;
    padding: 11px;
    display: block;
    background: #ffffff36;
    color: #fffdfd;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 15px;
    display: flex;
    gap: 9px;
    justify-content: center;
    cursor: pointer;
}